offsets = translateX(-50%) translateY(-50%)
.likes-heart
  opacity 0
  transition all 0.5s
  transform offsets scale(5)
  display block
  &.Like-enter
    transition all .2s
    transform offsets scale(1)
    opacity 1
    &.Like-enter-active
      transform offsets scale(5)
  .Like-leave-active
    display none
